<div class="container mt-8">
  <h1>Explore</h1>
  <p>REST (Representational State Transfer) is a standard protocol used for communication between web services. RESTful APIs (Application Programming Interfaces) provide a way for developers to access and manipulate data from a web service through HTTP requests.
    REST APIs follow a client-server architecture, where the server exposes a set of URLs (or endpoints) to perform specific actions on the data. These endpoints accept requests in a specific format (such as JSON or XML), and return responses in the same format.
    Using REST API functions, developers can perform a wide range of actions, such as retrieving data, updating data, creating new data, or deleting data. To get started with exploring REST API functions, you'll need to understand the basic structure of the requests and responses.
    Here are the example of some interesting apps
  </p>
<div class="mt-4 mb-4">
  <mat-tab-group>
    <mat-tab label="Astro Prediction">
      <div class="row">
        <div class="col-md-12 col-xs-12">
           <app-astrology></app-astrology>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="NASA app">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <app-nasa-sate></app-nasa-sate>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Finance App">
      <app-advice-api></app-advice-api>
    </mat-tab>
  </mat-tab-group>
</div>
</div>
<div class="container mt-4 mb-4">
<h1>W3e </h1>
<h5>
  The continue reserch on Artificial learning, we have lots of scope open for future and here in this section planned for some POC.
  I will try to best as can possible. Time to time we update it.
</h5>

<div class="mt-4 mb-4">
  <mat-tab-group>
    <mat-tab label="Android Apps">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <app-openai></app-openai>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

</div>


