<div class="container mt-8">
  <h1>Explore</h1>
<div class="mt-4 mb-4">
  <mat-tab-group>
    <mat-tab label="Astro Prediction">
      <div class="row">
        <div class="col-md-12 col-xs-12">
           <app-astrology></app-astrology>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="NASA app">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <app-nasa-sate></app-nasa-sate>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Finance App">
      <app-advice-api></app-advice-api>
    </mat-tab>
  </mat-tab-group>
</div>
</div>
<div class="container mt-4 mb-4">
<h1>W3e </h1>
<h5>
  The continue reserch on Artificial learning, we have lots of scope open for future and here in this section planned for some POC.
  I will try to best as can possible. Time to time we update it.
</h5>

<div class="mt-4 mb-4">
  <mat-tab-group>
    <mat-tab label="Android Apps">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <app-openai></app-openai>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

</div>


