<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>w3earth founded in 2008, website basically a education and research process into digitalisation with JavaScript and related frameworks or libraries. Rajib Ganguly, who have almost 16 years experience in web/ software development and designing, who is the founder of this website. Continues growth with our well-wishers, we feel and motivate to do this.</h5>
        <p>Actively perticipate various Front end knowledge</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5>Our social signature</h5>
        <ul>
          <li><a href="https://www.facebook.com/w3earth">Facebook</a></li>
          <li><a href="https://www.linkedin.com/company/14435266/admin/">Linkdin</a></li>
          <li><a href="https://w3earth.com/">wordpress</a></li>
          <li><a href="https://www.behance.net/w3earth/projects">Behance</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2022-23 All Copyright Reserved
    <a class="right" href="#!">rajib ganguly</a>
    </div>
  </div>
</footer>
