<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>w3earth founded in 2008, website basically a educator and researcher into digitalisation with JavaScript & Python and related frameworks or libraries. Rajib Ganguly, have almost 17 years experience in web/ app development and designing, who is the founder of this website. Continues growth with our well-wishers, we feel and motivate to do this.</h5>
        <p>Actively perticipate various Front end activities</p>
        <address>Bangalore, India</address>
        <div>Call Me: 91+ 821-752-8181</div>
        <div>Write Me: w3earth@outlook.com</div>
        <div><a href="https://wa.me/8217528181">Connect to <strong>what`sApp</strong></a></div>
      </div>
      <div class="col l2 offset-l2 s12">
        <h5>Our social signature</h5>
        <ul>
          <li><a href="https://www.facebook.com/w3earth">Facebook</a></li>
          <li><a href="https://www.linkedin.com/company/14435266/admin/">Linkdin</a></li>
          <li><a href="https://olympus.mygreatlearning.com/eportfolio">ePortfolio</a></li>
          <li><a href="https://www.behance.net/w3earth/projects">Behance</a></li>
        </ul>
      </div>
      <div class="col l2 s12">
        <h5>Introduction</h5>
        <video id="introduction" preload="auto" style="width:250px" controls>
          <source src="../../assets/images/new_creative_video.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2023-25 All Copyright Reserved
    <a class="right" href="#!">Best at 1200px resolution or more bigger screen. Otherwise you will miss many things.</a>
    </div>
  </div>
</footer>
