<div class="p-4 mt-8">
  <div class="container">
    <p class="display-4 txt-light" [innerHtml]="title"></p>
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <figure>
          <figcaption><strong class="fa2 d-block">STEP1:</strong> Download Resume</figcaption>
          <figcaption><i class="fa fa-file-pdf-o fa5" aria-hidden="true"></i></figcaption>
          <button type="button" class="btn btn-info" (click)="downloadCV()">Download CV!</button>
        </figure>
      </div>
      <div class="col-md-3 col-xs-12">
        <figure>
          <figcaption><strong class="fa2 d-block">STEP2:</strong> Evalute and Confirm</figcaption>
          <figcaption><i class="fa fa-podcast fa5" aria-hidden="true"></i></figcaption>
          <button type="button" class="btn btn-info">Call now!</button>
        </figure>
      </div>
      <div class="col-md-3 col-xs-12">
        <figure>
          <figcaption><strong class="fa2 d-block">STEP3:</strong> Process for next</figcaption>
          <figcaption><i class="fa fa-clock-o fa5" aria-hidden="true"></i></figcaption>
          <button type="button" class="btn btn-info">Interview scheduled!</button>
        </figure>
      </div>
      <div class="col-md-3 col-xs-12">
        <figure>
          <figcaption><strong class="fa2 d-block">STEP4:</strong> Contact and release offer</figcaption>
          <figcaption><i class="fa fa-id-card-o fa5" aria-hidden="true"></i></figcaption>
          <button type="button" class="btn btn-info">w3earth@outlook.com!</button>
        </figure>
      </div>
    </div>


  </div>
</div>
