<div class="p-4 mt-8">
  <div class="container">
    <p class="display-4 txt-light" [innerHtml]="title"></p>
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <figure>
          <figcaption><strong class="fa2 d-block">STEP1:</strong> Download Resume</figcaption>
          <figcaption><i class="fa fa-file-pdf-o fa5" aria-hidden="true"></i></figcaption>
          <button type="button" class="btn btn-info" (click)="downloadCV()">Download CV!</button>
        </figure>
      </div>
      <div class="col-md-3 col-xs-12">
        <figure>
          <figcaption><strong class="fa2 d-block">STEP2:</strong> Evalute and Confirm</figcaption>
          <figcaption><i class="fa fa-podcast fa5" aria-hidden="true"></i></figcaption>
          <button type="button" class="btn btn-info">Call now!</button>
        </figure>
      </div>
      <div class="col-md-3 col-xs-12">
        <figure>
          <figcaption><strong class="fa2 d-block">STEP3:</strong> Process for next</figcaption>
          <figcaption><i class="fa fa-clock-o fa5" aria-hidden="true"></i></figcaption>
          <button type="button" class="btn btn-info">Interview scheduled!</button>
        </figure>
      </div>
      <div class="col-md-3 col-xs-12">
        <figure>
          <figcaption><strong class="fa2 d-block">STEP4:</strong> Contact and release offer</figcaption>
          <figcaption><i class="fa fa-id-card-o fa5" aria-hidden="true"></i></figcaption>
          <button type="button" class="btn btn-info">w3earth@outlook.com!</button>
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1>Available options are here</h1>
        <ol>
          <li>
            <h2>Hire as for company payroll:</h2>
            <p>Per the company payroll, working will be 8 hours/day and Monday - Friday. Full-time, opportunity with the company preferably as permanent opportunity</p>
          </li>
          <li>
            <h2>Hire as project basis:</h2>
            <p>Discuss details for the project and binding hours. It will not be based on specific working days, even if it is open for weekdays and weekends or holidays, and discuss the duration (min 6 months)
            </p>
          </li>
          <li>
            <h2>Hire for support:</h2>
            <p>This package will be costlier than above those, as it is for supporting requirements based on your choice. It is short duration and 1 - 3 months</p>
          </li>
          <li>
            <h2>Freelance/ part-time project:</h2>
            <p>Minor projects and small technical discussions come under it. </p>
          </li>
        </ol>
      </div>
    </div>


  </div>
</div>
