<div class="pad">
  <h1>{{ title }}</h1>
  <ng-container *ngIf="techDetails.length > 0">
    <mat-tab-group animationDuration="2000ms">
      <div *ngFor="let t of techDetails">
      <mat-tab [label]="t.label" >
        <div *ngIf="t.value === 'html5'" class="padding" innerHtml="{{t.description}}"></div>
        <div *ngIf="t.value === 'css'" class="padding" innerHtml="{{t.description}}"></div>
        <div *ngIf="t.value === 'javaScript'" class="padding" innerHtml="{{t.description}}"></div>
        <div *ngIf="t.value === 'github'" class="padding" innerHtml="{{t.description}}"></div>
        <div *ngIf="t.value === 'portfolios'" class="padding" innerHtml="{{t.description}}"></div>
      </mat-tab>
    </div>
    </mat-tab-group>
  </ng-container>
  <ng-template #noData>No Data Available</ng-template>
</div>
