<div class="container-fluid" style="height:auto;text-align: center;">
  <img [src]="todaysBanner" alt="bg banner" class="banner-Image-bg animate__animated animate__bounce" />
</div>
<div class="container">
  <!-- Dashbaord -->
  <div class="zambobox">
    <div class="row">
      <div class="col-md-3 col-xs-12" *ngFor="let card of cardsDetailsInDashboard">
        <div class="card card-panel hoverable">
          <!-- <div class="Card-title p-4">{{card.title}}-{{card.nameOfAuthor}}</div> -->
          <div class="card-image">
            <img src="{{card.imagePath}}" class="animate__animated animate__bounce" alt="">
            <span class="card-title">{{card.title}}</span>
          </div>
          <div class="card-content">
            <p>{{card.description}}</p>
          </div>
          <div class="card-action">
            <a [href]="card.link" class="text-primary">{{card.nameOfAuthor}}</a>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <em>
      <blockquote [innerHTML]="blockqotetxt"></blockquote>
    </em>
  </div>
</div>


<section class="container-fluid valign-wrapper whitebg">
  <div class="container">
    <app-sectiontwo></app-sectiontwo>
  </div>
</section>

<section class="container valign-wrapper" style="background: rgb(228 231 212 / 57%)">
  <div class="container">
    <p class="display-4">Blog website</p>
    <a href="https://w3earth.blogspot.com/" type="button" class="btn btn-info" >Blog </a>
  </div>
</section>

<section class="container valign-wrapper">
    <app-tecnology-tab [techDetails]="techDetails"></app-tecnology-tab>
</section>


<section class="container mb-4 pb-2" style="background: rgb(228 231 212 / 57%)">
  <div class="container">
    <p class="display-4"[innerHtml]="title"></p>
    <button type="button" class="btn btn-info" [routerLink]="['/contact']">Request for CV!</button>
  </div>
</section>


<div class="container">
  <app-sectionone></app-sectionone>
</div>


<div class="route2mail">
  <small>Send Order to </small><br>
  <span>w3earth@outlook.com</span>
</div>
